*{
    margin: 0;
    padding: 0;
}
body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
    color: #fff;
}
.animated_card{
    height: 500px;
    width: 350px;
    background-color: #222;
    position: relative;
    display: grid;
    place-items: center;
    border-radius: 10px;
    cursor: pointer;
    overflow: hidden;
}
span{
    color: #fff;
    opacity: 0.1;
    font-size: 11em;
    z-index: 1;
}
.animated_card::before{
    position: absolute;
    content: "";
    width: 50%;
    height: 180%;
    background-color: #ff0800;
    transform: rotate(45deg);
}
.animated_card:hover::before{
animation: animate 1s linear  infinite ;
}
@keyframes animate{
    from {
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
        filter: hue-rotate(-360deg) saturate(1000%);
    }
}
.animated_card::after{
    position: absolute;
    content: " ";
    inset: 10px;
    background: #000;
    border-radius: 8px;
}